* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.name {
    color: #2C6C6F;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.3px;
}

.message {
    background: #2C6C6F;
    color: #ffffff;
    padding: 1rem;
    border-radius: 20px;
    text-align: left;
}